/* Color Scheme 

E6E2AF
A7A37E
EFECCA
046380
002F2F
*/


.container{
	width: 750px;
}

body{
	background: #E6E2AF;
}

header{
	padding-top: 20px;
}

header img {
	padding: 1em;
}

section {
	font-size: 120%;
	padding: 10px;
	background: #EFECCA;
}

/* Links */

a {
	color: #046380;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #046380;
}

/*a:visited {
	color: #002F2F;
}*/

/* Navigation */

nav {
	float: right;
	background: #E6E2AF;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

/*nav ul li a:visited {
	color: #07afe3;
}*/

nav ul li a:hover {
	text-decoration: underline;
	color: #07afe3;
}

/* Sign Up */

a.signup_button { 
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	text-align: center; 
	width: 190px; 
	color: #fff; 
	background: #046380; 
	font-size: 150%; 
	font-weight: bold; 
	padding: 20px;
}


/* Round corners */
.round { 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:	10px;
}

.round h1 {
	font-family: Georgia, Times, serif;
	font-size: 180%;
	color: #046380;
}

/* Footer */

footer {
	text-align: center; 
	margin-top: 10px; 
	width: 710px; 
	margin-left: auto; 
	margin-right: auto;
} 

footer nav {
	float: none;
}

/* User show page */

table.profile { 
	width: 100%; 
	margin-bottom: 0;
}

td.main { 
	width: 70%; 
	padding: 1em;
}

td.sidebar { 
	width: 30%; 
	padding: 1em; 
	vertical-align: top; 
	background: #E6E2AF;
}
.profile img.gravatar { 
	border: 1px solid #999; 
	margin-bottom: -15px;
}


/*Error Messages*/

/*.field_with_errors {
	margin-top: 5px; 
	padding: 2px; 
	background-color: #046380; 
	display: table;
} */

#error_explanation { width: 400px; padding: 7px; padding-bottom: 12px; margin-bottom: 10px; background-color: #f0f0f0;
}
#error_explanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px;
margin: -7px; background-color: #046380; color: #fff;
}
#error_explanation p { color: #333; margin-bottom: 0; padding: 5px;
}
#error_explanation ul li { font-size: 12px; list-style: square;
}

ul.users {
	margin-top: 1em;
}

ul.users li {
	list-style: none;
}

.button_to {
	display: inline-block;
	background: url(sprite.png)  10px -64px no-repeat #EFECCA;
    padding-left: 30px;
    text-decoration: none;
}

/* Micropost */

h1.micropost {
margin-bottom: 0.3em;
} table.microposts {
margin-top: 1em;
}

table.microposts tr {
height: 70px;
}
table.microposts tr td.gravatar { border-top: 1px solid #ccc; vertical-align: top; width: 50px;
}
table.microposts tr td.micropost { border-top: 1px solid #ccc; vertical-align: top; padding-top: 10px;
}
table.microposts tr td.micropost span.timestamp { display: block; font-size: 85%; color: #666;
} div.user_info img {
padding-right: 0.1em;
} div.user_info a {
text-decoration: none;
} div.user_info span.user_name {
position: absolute;
} div.user_info span.microposts {
font-size: 80%;
} form.new_micropost {
margin-bottom: 2em;
}
form.new_micropost textarea { height: 4em; margin-bottom: 0;
}

/* Span */

.author {
	font-style: italic;
	text-align: center;
}

blockquote {
      font-family: Georgia, Times, serif;
      /*width: 310px; /* required */*/
      margin: 0 auto;
      }
  
/*
 |  The #quote_wrap div is created
 |  by Quovolver to wrap the quotes
*/

      #quote_wrap { 
    /*  width: 310px;*/
      margin: 1px 0; padding: 1px; /*border: 1px solid #7f9b8f;*/
      }

 #bquote{
 	padding-bottom: 20px;
 	width: 350px;
 }

input[type="submit"]
{
  color: #046380;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 10px;
}


input[type="submit"]:hover {
    color: #333;
    border-color: #046380;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

input[type="submit"]:active {
    color: #000;
    border-color: #046380;
}

.center {
	padding-top: 20px;
	text-align: center;
}

.justified {
	text-align: justify;
}

