<table class="profile" summary="Profile information"> 
	<tr>
	<td class="main"> 
		<h1>
			<%= gravatar_for @user %>
			<%= @user.name %> 
		</h1>
		<% if @user.microposts.any? %>
		  <table class="microposts" summary="User microposts">
		  	<%= render @microposts %>
		  </table>
		  <%= paginate @microposts %>
		<% end %>
	</td> 

	<td class="sidebar round">
		<strong>Name</strong> <%= @user.name %><br />
		<strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
		<strong>Unavail Counts</strong> <%= @user.microposts.count %>

	</td>
	</tr> 
</table>