<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
		<div class="field">
		<%= f.text_area :content %>
	</div>

	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>
