<h1>About</h1>
<p class="justified">In a call center, an agent has different work modes, busy on call, available, unavailable, after-call work, off- phone work, etc. <i>Unavailable</i> (a.k.a. unavail) status is when an agent is not ready to take in calls. Possible reasons are medical condition, working on a special task, defective workstation (phone, pc, mouse, amp, etc.), coaching session, etc.</p>

<p>The main objective of this website is to help agents keep track of all their unavail activities so when the push comes to shove, they can cover their a**!</p>
