<h1>Contact</h1>
<p>For feedback and suggestions, kindly shoot me an email.</p>
<p>Don't forget to say something nice, ayt?</p>
<p>Email: <a href="mailto:radical.mark@gmail.com">mark_i_admire_you@somuch.com</a>, and by the way, you're welcome! ;)</p>

