<% if signed_in? %>

	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<h1 class="micropost">Reason for unavail?</h1>
				<%= render 'shared/micropost_form' %>
				<%= render 'shared/feed' %>
			</td>

			<td class="sidebar round">
				<%= render 'shared/user_info' %>
			</td>
		</tr>
	</table>

<% else %>

<h1 class="round center">Track all your off-phone activities here.</h1>
<p class="center">
Save yourself some time sending an email to your supervisor only to justify your unavail activity.
Sign up for an account and send the URL of your profile to your supervisor. Have your supervisor track down all your unavail activities. Less pain, more comfort! Now you will have more time dealing with the necessities!
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<p class="center small">
Register an account for free.
</p>

<br>

<% end %>
