<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Developer", 'http://www.facebook.com/markmarkmarkysomanymarkmynameismarked/' %></li>
		</ul>
	</nav>
	<br>
	<p class="quiet small">All rights reserved. Copyright 2012.</p>
</footer>