<!DOCTYPE html>
<html>
	<head>
	  <title><%= title %> </title>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/stylesheets' %>
	  <%= javascript_include_tag "application" %>
	  <script type="text/javascript" src="/assets/jquery.js"></script>
    <script type="text/javascript" src="/assets/jquery.quovolver.js"></script>
  
    <!-- JavaScript Test Zone -->
    <script type="text/javascript">
    $(document).ready(function() {
      
      $('blockquote').quovolver();
      
    });
    </script>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %>

			
			<section class="round">
				<% flash.each do |key, value| %>
				  <div class="flash <%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>
			</section>
			
			<% if signed_in? %>
			<div id="bquote">
            
	            <blockquote>
	              	<p>"Life begins at the end of your comfort zone."</p>
	              	<cite>&ndash; Neal Donald Walsch</cite>
	            </blockquote>
	            
	            <blockquote>
	            	<p>"Absorb what is useful, reject what is useless, add what is specifically your own."</p> 
	            	<cite>&ndash; Bruce Lee</cite>
	            </blockquote>

	            <blockquote>
	            	<p>"Efficiency is doing things right; effectiveness is doing the right things." </p> 
	            	<cite>&ndash; Peter Drucker</cite>
	            </blockquote>

	            <blockquote>
	            	<p>“Fall seven times, Stand up eight.”</p> 
	            	<cite>&ndash; Japanese Proverb</cite>
	            </blockquote>

	            <blockquote>
					<p>“If you love life, don’t waste time, for time is what life is made up of.”</p>
	            	<cite>&ndash; Bruce Lee</cite>
	            </blockquote>

	            <blockquote>
	            	<p>“It’s not knowing what to do, it’s doing what you know.”</p> 
	            	<cite>&ndash; Tony Robbins</cite>
	            </blockquote>

	            <blockquote>
	            	<p>"Success breeds success."</p> 
	            	<cite>&ndash; Unknown</cite>
	            </blockquote>

	            <blockquote>
	            	<p>"The path to success is to take massive, determined action."</p> 
	            	<cite>&ndash; Tony Robbins</cite>
	            </blockquote>

	            <blockquote>
	            	<p>"The perfect is the enemy of the good."</p> 
	            	<cite>&ndash; Voltaire</cite>
	            </blockquote>

	            <blockquote>
	            	<p>“Words may show a man’s wit but actions his meaning.”</p> 
	            	<cite>&ndash; Benjamin Franklin</cite>
	            </blockquote>
            
              </div>
              <% end %>

			<%= render 'layouts/footer' %>

			<%= debug(params) if Rails.env.development? %>

		</div>
	</body>
</html>

